{% load static %}

<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Menu</title>
    <link rel="stylesheet" href="{% static 'menu/menu.css' %}">
</head>
<body>
    <a href="{% url 'homepage' %}">
        <img class="logo" src="{% static 'menu/images/small_logo.png' %}" alt="Logo">
        <img class="cross" src="{% static 'menu/images/cross.png' %}" alt="Croix de fermeture">
    </a>

    <h1 class="title_menu">Les Pizzas</h1>

    <ul>
        {% for pizza in pizzas %}
        <div class="pizza_liste">
            <li class="pizza_nom">{{pizza.nom}}
                <span class="pizza_prix">{{pizza.prix | floatformat:2}}€ </span>
            </li>
            <li class="pizza_ingredients">{{pizza.ingredients}}</li>
            {% if pizza.vegetarienne %}
                    <span class="pizza_vegetarienne">VEGETARIENNE</span>
                {% endif %}
        </div>
        {% endfor %}
    </ul>
</body>
</html>